@import './_mediaqueries.css';
@import './style/_reset.css';

html {
  font-size: 62.5%;
  font-family: 'Open Sans Condensed', sans-serif;

} 

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background color transition */
  transition: background-color ease 1s;
}

.actions {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h1 {
  font-size: 12em;
  font-weight: bold;
}

.button {
  width: auto;
  border-style: solid;
  border-width: 2 px;
  padding: .6rem 1.2rem .2rem 1rem;
  border-radius: 1rem;
  font-size: 1.4em;
  font-family: 'Open Sans Condensed', sans-serif;
}

.button:focus {
  border-color: white;
}

.button.black {
  border-color: white;
  background-color: white;
}

.button:focus.black {
  border: 2px solid rgba(0,0,0,.8);
}

.button.white {
  border-color: black;
  background-color: black;
}

.button:focus.white {
  border: 2px solid rgba(255,255,255,.8);
}

.get-random-color, .copy-to-clipboard, .add-to-theme {
  position: relative;
  font-size: 2.4em;
}

.get-random-color>span, .copy-to-clipboard>span, .add-to-theme>span {
  position: absolute;
  margin-top:.5em;
  left: 50%;
  transform:translateX(-50%);
  font-size: .8em;
  white-space: nowrap;
  opacity: 0;
  transition: opacity ease-in-out 200ms;
}

.button:active span {
  opacity: 1;
}

.add-to-theme:disabled {
  cursor: not-allowed;
  opacity: .5;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}

nav .main {
  display: flex;
  width: 4.4rem;
  height: 4.4rem;
  font-size: 2.4em;
  justify-content: center;
  align-items: center;
}

.theme-colors {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.saved-color {
  position: relative;
  font-size: 5em;
  padding: 1em 1em .6em 1em;
  border-top-left-radius: .2em;
  border-top-right-radius: .2em;
  margin-left: 1rem;
}

.saved-color:first-child {
  margin-left: 0rem;
}

.saved-color-button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: .4rem;
  position: absolute;
  font-size: 18px;
  color: inherit;
  cursor: pointer;
  opacity: .8;
  top: .6rem;
}

.remove {
  left: .4rem;
}

.clipboard {
  right: .4rem;
}

.mobile.warning {
  position: fixed;
  text-transform: uppercase;
  font-size: 1.6em;
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 1em;
  bottom: 0;
}

.mobile::before {
  content: "💻 ";
}

.message {
  font-size: 2em;
  position: absolute;
  transition: top ease 350ms;
}

.desktop {
  overflow: hidden;
  position: absolute;
  right: 1rem;
  font-size: 1.4em;
  background-color: inherit;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.45);
  transition: all ease 500ms;
  transition-delay: 1000ms;
}

.desktop.out {
  top: -10rem;
}

.desktop.in {
  top: 1rem;
}

.desktop::before {
  content: "☝️ ";
}

.show {
  top: 10rem;
}

.hide {
  top: -5rem;
}

.video-wrapper {
  position: absolute;
  width: 80%;
  z-index: 30;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.45);
  background-color: white;
  padding-bottom: calc(var(--aspect-ratio, .5625) * 80%);
}

.video, iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.button-close {
  position: absolute;
  bottom: -4rem;
  width:100%;
  border-radius: 0;
  font-size: 1.6em;
  padding: 1rem;
}

.close {
  display: none;
}

.open {
  display: block;
}

.info {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  font-size: 2em;
  padding: 2rem;
}

.info h2 {
  font-size: 2.4em;
  padding-bottom: 1.4rem;
}

.info p {
  padding-bottom: 1rem;
  line-height: 2.4rem;
}