* {
  font-family: monospace;
  background-color: transparent;
}

.app {
  height: 100vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20em;
}

.app-color {
  display: inline;
  font-size: 1em;
}

input {
  border: none;
  font-weight: bold;
  font-size: 1em;
  width: 1.8em;
  outline: none;
  border-bottom: 12px solid transparent;
  text-transform: capitalize;
}

input:focus {
  border-bottom: 12px solid;
}