@import './_mediaqueries.css';

* {
  font-family: monospace;
  background-color: transparent;
}

.app {
  height: 100vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color ease 1.4s;
  overflow: hidden;
}

.app-color {
  display: inline;
  font-size: 1em;
  transition: color ease .8s;
  overflow: visible;

}

input {
  border: none;
  font-weight: bold;
  font-size: 1em;
  width: 1.8em;
  height: .8em;
  outline: none;
  border-bottom: 12px solid transparent;
  margin-bottom: .2em;
  text-transform: capitalize;
  transition: color ease .8s;
  overflow: visible;
  padding-top: .1rem;
}

.app-info svg {
  vertical-align: top;
}

.app-info--random-color {
  text-decoration: none;
  padding: 1.4rem 2.6rem 1.2rem 2.2rem;
  font-weight: bold;
  border-radius: 2rem;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,.40);
  margin-top: 1rem;
  transition: color ease .8s;
  display: inline-block;
}

.app-info--random-color:hover {
  box-shadow: 0px 8px 20px 0px rgba(0,0,0,.30);
}

.app-info--random-color.black {
  background: rgba(255,255,255,.40);
  background: linear-gradient(180deg, rgba(255,255,255,.55) 15%, rgba(255,255,255,.10) 100%);
}

.app-info--random-color.white {
  background: rgba(0,0,0,.40);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 10%, rgba(0,0,0,.15) 100%);
}

input:focus {
  border-bottom: 12px solid;
}

.app-color-palette {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.saved-color {
  color: inherit;
  border: 2px solid;
  border-radius: .2em;
  padding: .6em;
  font-size: .2em;
  position: relative;
  bottom: -1em;
  margin-left:1rem;
  transition: all ease 200ms;
}

.saved-color-to-clipboard {
  border: none;
  margin: 0;
  padding: .4rem;
  position: absolute;
  font-size: .4em;
  color: inherit;
  top:0rem;
  right: 0rem;
  cursor: pointer;
  opacity: .6;
}

.saved-color:first-child {
  margin-left: 0rem;
}

.saved-color--add-button {
  outline: none;
  letter-spacing: -.05rem;
  opacity: 0;
  background-color: white;
  font-size: .4em;
  position: absolute;
  border: none;
  border-radius: .4em;
  font-weight: bold;
  top:0rem;
  right:0;
  width:100%;
  height: 100%;
  transition: opacity ease 200ms;
  cursor: pointer;
}

.saved-color--add-button:hover {
  opacity: 1;
}

.saved-color:hover {
  bottom: -.4em;
}